Package: com.jeremyirvine.overfl0w
Name: overfl0w
Version: 0.0.1b
Architecture: iphoneos-arm
Description: Install tools for exploit development
Homepage: bamboo-us.com
Depends: bigbosshackertools
Section: Console
Author: Jeremy Irvine jeremylukeirvine@gmail.com
Maintainer: Jeremy Irvine jeremylukeirvine@gmail.com
